.navbar {
  background-color: rgba(142, 119, 88, 0.486);
  padding: 20px 30px;
  display: flex;
  align-items: center;
  height: 100px;
  border-radius: 15px;
  margin: 15px;
}

.navbar-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar-tabs {
  margin: 0 20px;
}

.navbar-tab {
  color: white;
  margin: 0 10px;
  text-decoration: 0;
}

.navbar-tab h2 {
  display: inline;
  padding: 5px 10px;
}
