body {
  background-color: rgba(142, 119, 88, 0.486);
}
.App {
  text-align: center;
}

.home {
  color: whitesmoke;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 65px;
}
.error {
  color: whitesmoke;
  border-radius: 10px;
  margin: 5px auto;
  background-color: rgba(142, 119, 88, 0.486);
  width: 200px;
  height: 30px;
  padding: 15px auto;
}
::placeholder {
  color: rgba(142, 119, 88, 0.486);
  font-weight: bold;
}

input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
  padding-left: 40px;
}
input:hover,
input:focus {
  background-color: rgba(245, 245, 245, 0.888);
}
button {
  background-color: rgba(142, 119, 88, 0.486);
  color: whitesmoke;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
}
button:hover {
  background-color: rgba(59, 2, 2, 0.806);
}
.spinner {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.movieTitle {
  color: whitesmoke;
}
.movieImg {
  width: 300px;
}
